@import "tailwindcss";

@theme {
  /* Definisikan warna custom kita di sini */
  --color-primary: #0F172A; /* Slate 900 */
  --color-accent: #38BDF8;  /* Sky 400 */
}

/* Global Styles */
body {
  background-color: #F8FAFC; /* Slate 50 */
}